header {
    text-align: center;
    color: darkgrey;
}

main {
    text-align: center;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 400px;
}

/* LAYOUT */

.nav-link {
    padding: 20px;
}


/* INDEX PAGE */

.index {
    margin-top: 35px;
}

.card-container {
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 26%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(80,80,80);
    color: white;
}

.card .img {
    width: 90%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}

.card .name {
    font-size: 2em;
    padding: 15px;
}

.card .date {
    padding: 10px;
}

/* SHOW PAGE */

.img-container {
    width: 75%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px auto;
    align-items: baseline;
}